body {
	background: #0A0908;
	font-family: tahoma, verdana, sans serif;
    color:#FFBC42
}

canvas {
	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	background: #fafafa;
}

#controls{
  margin-left: 1rem;
    font-family: 'Rubik', sans-serif;
}

#volumeLabel{
  margin-left: 1rem;
}

section{
  margin-bottom: 1rem;
}

#playButton{
  font-size: 1.2rem;
  width: 6rem;
}

button[data-playing="yes"]:after{
  content: "Pause";
}

button[data-playing="no"]:after{
  content: "Play";
}

#heading{
    padding: 1.5em;
    font-family: 'Rubik', sans-serif;
}

h1{
    font-family: 'Rubik', sans-serif;
}

  #fsButton {
        display: inline-block;
        background-color: #7b38d8;
        border-radius: 2em;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 1em;
        padding: 1em;
        width: 10em;
        transition: all 0.3s;
        cursor: pointer;
        margin: 5px;
      }

      #fsButton:hover {
        background-color: #f7c2f9;
        width: 12em;
      }
