@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans&display=swap');

body {
	background: #0A0908 !important;
	font-family: tahoma, verdana, sans serif;
    color: #077187;
}
header{
    padding-bottom: 1em;
    background: #077187;
    color: white;
    font-size: 1.5em;
        padding: 1.5em;
    font-family: 'Noto Sans', sans-serif;
}

#visualizer {
    margin-top: 1em;
    margin-bottom: 1em;
	background: #fafafa;
    width: 73em;
    float: left;
}

#progress{
    
    border-radius: 2em;
}

main{
    background: #077187;
}

#information{
    float: left;  
    width: 70em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: #077187;
    border-radius: 2em;
    color: white;
    margin: 1em;
    
}

#controls{
    padding: 1rem;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    width: 50%;
}

#trackInfo{
    padding: 1rem;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    width: 50%;
}

#volumeLabel{
  margin-left: 1rem;
}

section{
  margin-bottom: 1rem;
}


button[data-playing="yes"]:after{
  content: "Pause";
}

button[data-playing="no"]:after{
  content: "Play";
}

h1{
font-family: 'Noto Sans', sans-serif;}

#fsButton {
    display: inline-block;
    background-color: #659B5E;
    border-radius: 2em;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 1em;
    padding: 1em;
    width: 90%;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
}

#fsButton:hover {
    background-color: #95BF74;
    width: 98%;
}

.myButton{
    display: inline-block;
    background-color: #659B5E;
    border-radius: 2em;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 1em;
    padding: .5em;
    width: 90%;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
    
}

.myButton:hover{
    background-color: #95BF74;
    width: 98%;
}
